@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Name: Md. Sabbir Ahmed<br />
    Phone Number: 01796974557<br />
    Email: sabbir.sa9777@gmail.com<br />
</address>

